@import "../mixins/common";

.handle-business-list {
  &-totalSizeWrapper{
    font-size: 18px;
    padding-top: 15px;
  }

  &-totalSizeWrapper > span > span{
    color: rgb(24, 144, 255)
  }

  &-row {
    width: 100% !important;
  }
}