@import "../../process/styles/theme";

.select-user {
  &-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-btn {
    margin-left: @default-padding;
  }

  &-input-container {
    flex: 1;
  }

  &-input {
    width: 100%;
  }
}