.select-user-table {

    &__center-search {
        display: flex;
        margin-bottom: 8px;
        > span,
        > div {
          flex: 1;
          margin-right: 8px;
        }
        > label {
          margin-left: 8px;
          line-height: 32px;
        }
      }
      &__center-table {
        .t-table__content {
          max-height: 518px;
          overflow-y: auto;
        }
      }
    //   /deep/ .ant-radio-disabled, /deep/ .ant-checkbox-disabled {
    //     position: relative;
    //     &:hover::before{
    //       content: "下一节点审批人不能选择自己";
    //       position: absolute;
    //       z-index: 999;
    //       top: -30px;
    //       left: -20px;
    //       border: 1px solid black;
    //       background-color: #fff;
    //       padding: 3px;
    //       font-size: 13px;
    //     }
    //   }
}
