.el-alert--success {
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-alert--info {
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-alert--warning {
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-alert--error {
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}
