.el-alert--success {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right #f0f9eb !important;
}

.el-alert--info {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right #f4f4f5 !important;
}

.el-alert--warning {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right #fdf6ec !important;
}

.el-alert--error {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right #fef0f0 !important;
}
