.el-alert--success {
  // TODO: Maybe change back，带图标的时候放开   
  background: var(--logo-bg) no-repeat top right !important;
}

.el-alert--info {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right !important;
}

.el-alert--warning {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right !important;
}

.el-alert--error {
  // TODO: Maybe change back，带图标的时候放开  
  background: var(--logo-bg) no-repeat top right !important;
}
