.el-button--primary {
  background: var(--primaryBtn) !important;
  border-radius: 0px;
  border: 0px;
  color: #fff;
  // width: 100px;
  font-size: 14px;
  height: 40px;
}

.el-button--primary.is-plain {
  color: #fff;
  background: var(--primaryBtn);
  font-size: 14px;
}


.commonBtn {
  background: #fff !important;
  border: 1px solid var(--lightBlueColor) !important;
  border-radius: 0;
  color: var(--lightBlueColor) !important;
  height: 40px;
  // width: 100px;
  font-size: 14px;
}

.el-button--text {
  color: var(--lightBlueColor);
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
}

.cancelBtn {
  border-radius: 0;
  background: #FFF !important;
  border: 1px solid #DCDFE6 !important;
  color: #606266 !important;
}

.errorBtn {
  background: #a61d24 !important;
  color: #fff !important;
  border: 0px;
}

.errorBtnplain {
  background-color: transparent !important;
  color: #a61d24 !important;
  border: 1px solid #a61d24 !important;
}

.disableBtn {
  color: #C0C4CC !important;
  cursor: not-allowed;
  background-image: none !important;
  border-color: #C0C4CC !important;
  border-radius: 0;
}

.el-button {
  height: 40px;
}



//按钮hover时的样式
.buttonActive_primary:hover {
  background: var(--primaryBtn) !important;
  border: none;
}
.commonBtn:hover {
  color: #409EFF !important;
  border-color: #c6e2ff !important;
  background-color: #ecf5ff !important;
}
.cancelBtn:hover{
  color: #409EFF !important;
  border-color: #c6e2ff !important;
  background-color: #ecf5ff !important;
}
.disableBtn:hover{
  background-color: #fff !important;
}