.el-checkbox {
  color: var(--white-opacity7);
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: var(--light-blue-color);
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: var(--light-blue-color);
  background: var(--light-blue-color);
}

.el-checkbox__inner {
  z-index: 0;
}