.el-card{
    border: 1px solid var(--lightBlueColor);
    .el-card__header{
        background: linear-gradient(to right, #0060a6, rgba(0, 96, 166, 0.2));
        color: #fff;
        padding: 10px 20px;
    }
}