.el-dropdown{
    cursor: pointer;
    color: var(--lightBlueColor);
}
.el-dropdown-menu__item {
    color: var(--whiteOpacity7);
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    color: var(--lightBlueColor);
    font-weight: 400;
}
