.el-dropdown{
  cursor: pointer;
  color: var(--light-blue-color);
}

.el-dropdown-menu__item {
  color: var(--white-opacity7);
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  color: var(--light-blue-color);
  font-weight: 400;
}
