.el-radio-group {
  .el-radio-button {
    &.is-active {
      .el-radio-button__inner {
        background: var(--primary-btn);
        color: #fff;
        border-color: var(--primary-btn);
        background-image: var(--logo-bg) !important;
        background-size: 100% 100% !important;
      }
    }

    .el-radio-button__inner {
      &:hover {
        background: var(--primary-btn);
        color: #fff;
        border-color: var(--primary-btn);
      }
    }
  }
}
