.el-radio-group {
  .el-radio-button {
    &.is-active {
      .el-radio-button__inner {
        background: var(--primary-btn);
        color: #fff;
        border-color: var(--primary-btn);
      }
    }
    
    .el-radio-button__inner {
      &:hover {
        background: var(--primary-btn);
        color: #fff;
        border-color: var(--primary-btn);
      }
    }
  }
}
