.el-radio {
  // color: rgba(167,173,179,1);
  color: var(--white-opacity7);
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-radio__input.is-checked + .el-radio__label {
  color: var(--light-blue-color);
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: var(--light-blue-color);
  background: var(--light-blue-color);
}