

// .el-input {
//     border: 1px solid var(--lightBlueColor);
// }

.el-select .el-input__inner {
    border: 1px solid var(--lightBlueColor);

}
.el-select .el-input__inner:hover, .el-select .el-input__inner:focus{
    border: 1px solid var(--lightBlueColor);
}

.el-input--suffix .el-input__inner{
    color: var(--lightBlueColor);
}
.el-select-dropdown__item.selected {
    color: var(--lightBlueColor);
    font-weight: 400;
}
// .el-select {
//     border: 1px solid var(--lightBlueColor);
// }