.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    background: linear-gradient(180deg, rgba(0, 96, 166, 0.5) 0%, #0060A6 100%);
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

.el-tabs__item {
    border: 1px solid #0060A6 !important;
    font-weight: 600;
    color: #0060A6;
    font-size: 14px;
}
.el-tabs--card>.el-tabs__header {
    border-bottom: none;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: none;
}