.el-table tr {
  //   color: rgba(0, 0, 0, 0.6);
  color: #606266;
  font-size: 14px;
  font-weight: 400;
}

.el-table {
  background: var(--white-color);
}

.el-table .cell{
  height: 40px;
  line-height: 40px;
}

.table_header {
  text-align: center;
  color: #303133;
  font-size: 14px;
  font-weight: 600;
  //   background: linear-gradient(to bottom, #F0F2F5, #F0F2F5);
  //   height: 40px
}

.el-table tbody tr:hover>td {
  background: var(--opacity-blue-bg);
}

.el-table tbody tr:last-child {
  border: 0;
}

// 滚动条的宽度
.el-table__body-wrapper::-webkit-scrollbar {
  width: 6px; // 横向滚动条
  height: 6px; // 纵向滚动条 必写
}

// 滚动条的滑块
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 3px;
}

.el-table .el-table__cell.gutter {
  background: transparent;
}

.el-table th.el-table__cell,
.el-table th.el-table__cell.is-leaf{
  background: #fafafa !important;
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid rgba(242,244,246,1);
}
//表头
.el-table__header-wrapper {
  .cell{
    // background: #FAFAFA;
    background: transparent;
    color: #303133;
    height: 34px;
    line-height: 34px;
      
  }

  .el-table__cell {
    background-color: transparent;
  }
}

.el-table::before {
  display: none;
}

.headerStyle {
  height: 32px;
  width: 100%;
  line-height: 32px;
  font-size: 14px;
  color: var(--white-color);
  padding: 0 0 0 20px;
  background: #3490d3;
}

.footerBox {
  width: 100%;
  margin: 20px 0 0;
  height: calc(100% - 125px);
  position: relative;
  //   padding: 14px 14px 0;
  //   overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(144,147,153,0.3);
}

.right{
  height: calc(100vh - 145px);
}

.el-table .descending .sort-caret.descending {
  border-top-color: var(--light-blue-color);
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: var(--light-blue-color)
}

.el-table .sort-caret.ascending {
  border-bottom-color: rgba(125, 173, 208, 1);
}

.el-table .sort-caret.descending {
  border-top-color: rgba(125, 173, 208, 1);
}

.el-table thead.is-group th.el-table__cell {
  background: transparent;
}

.el-table--border .el-table__cell, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid rgba(242,244,246,1);
}

.el-table--border th.el-table__cell, .el-table__fixed-right-patch {
  border-bottom: 1px solid rgba(242,244,246,1);
}

.el-table--border, .el-table--group {
  border: 1px solid rgba(242,244,246,1) !important;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: rgba(242,244,246,1);
}

.tablestyle{
  .el-table__row{
    line-height: 20px;
    font-family: PingFangSC-Regular, "PingFang SC";
  }
}

.el-table__cell{
  padding: 0 !important;
}
//固定的表头表尾背景色
.el-table__fixed-right,
.el-table__fixed {
  height: calc(100% - 6px) !important;
}