.marquee-fa{
  background: #fff;
  border: 1px solid var(--light-blue-color);
  display: flex;
  padding: 10px;
  background-image: var(--logo-bg) !important;
  background-size: unset !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;

  .marquee_head{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--light-blue-color);
    font-weight: 700;
  }
}