.marquee-fa{
    background: #fff;
    border: 1px solid var(--lightBlueColor);
    display: flex;
    padding: 10px;
    .marquee_head{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: var(--lightBlueColor);
        font-weight: 700;
    }
}