.vue-treeselect__control{
    background: var(--opacityBlueBg);
    color: var(--lightBlueColor);
    border: 1px solid var(--lightBlueColor);
    border-radius: 0px;
}
.vue-treeselect__menu{
    background: #fff;
    color: #72818b;
}
.vue-treeselect__single-value{
    color: var(--lightBlueColor);
}
.noBgBorderTree{
    .vue-treeselect__control{
        background: transparent;
        border: transparent;
    }
    .vue-treeselect__single-value {
        color: #fff;
    }
    .vue-treeselect__input {
        color: #fff;
    }
    .vue-treeselect__control-arrow-container:hover {
        .vue-treeselect__control-arrow {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .vue-treeselect__control-arrow {
        color: rgba(255, 255, 255, 0.8);
    }
    
}