.vue-treeselect__control{
    background: var(--opacityBlueBg);
    color: var(--lightBlueColor);
    border: 1px solid var(--lightBlueColor);
    border-radius: 0px;
}
.vue-treeselect__menu{
    background: #fff;
    color: #72818b;
}
.vue-treeselect__single-value{
    color: var(--lightBlueColor);
}