.vue-treeselect__control{
  background: #fff;
  color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  border-radius: 0;
}

.vue-treeselect__menu{
  background: #fff;
  color: #72818b;
}

.vue-treeselect__single-value{
  color: var(--light-blue-color);
}

.noBgBorderTree{
  .vue-treeselect__control{
    background: transparent;
    border: transparent;
  }

  .vue-treeselect__single-value {
    color: #fff;
  }

  .vue-treeselect__input {
    color: #fff;
  }

  .vue-treeselect__control-arrow-container:hover {
    .vue-treeselect__control-arrow {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .vue-treeselect__control-arrow {
    color: rgba(255, 255, 255, 0.8);
  }
    
}