// 缩略图默认样式
.thumbnail {
    width: 56px;
    height: 56px;
    background: #51a1ff;
    box-shadow: 0px 0px 4px 0px rgba(144, 147, 153, 0.3);
    border-radius: 8px;
    color: #fff;
    font-size: 22px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }