.el-alert--success{
    background-color: #18240E;
    color: #fff;

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #67C23A;
    }
}
.el-alert--info{
    background: linear-gradient(to bottom, rgba(0, 162, 218, 0.3), rgba(0, 162, 218, 0.6));
    color: #fff;

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #909399;
    }
}
.el-alert--warning{
    background-color: #28220E;
    color: #fff;

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #E6A23C;
    }
}
.el-alert--error{
    background-color: #58181C;
    color: #fff;

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #F56C6C;
    }
}