.el-alert--success{
    background-color: #18240E;
    color: #fff;
    border: 1px solid rgba(37,64,22,1);

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #67C23A;
    }
}
.el-alert--info{
    background: linear-gradient(to bottom, rgba(0, 162, 218, 0.3), rgba(0, 162, 218, 0.6));
    color: #fff;
    border:1px solid #ddd;
    border-image: linear-gradient(rgba(46,91,124,1),rgba(1,170,242,1)) 3 3;

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #909399;
    }
}
.el-alert--warning{
    background-color: #28220E;
    color: #fff;
    border: 1px solid rgba(75,59,23,1);

    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #E6A23C;
    }
}
.el-alert--error{
    background-color: rgba(43,18,21,1);
    color: #fff;
    border: 1px solid rgba(81,23,26,1);
    .el-alert__description{
        color: #fff;
    }

    .el-alert__icon{
        color: #F56C6C;
    }
}