.el-button--primary {
    background: var(--primaryBtn);
    border-radius: 0px;
    border: 0px;
    color: #fff;
    // width: 100px;
    font-size: 14px;
}

.commonBtn,.el-button--danger.is-plain.is-disabled {
    border: 1px solid var(--lightBlueColor);
    border-radius: 0;
    color: var(--lightBlueColor);
    background: var(--opacityBlueBg);
    height: 40px;
    // width: 100px;
    font-size: 14px;
}
.cancelBtn {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 0;
    color: var(--whiteOpacity7);
    background: transparent;
}

.errorBtn{
    background: #a61d24;
    color: #fff;
    border: 0px;
}

.errorBtnplain{
    background: transparent;
    color: #a61d24;
    border: 1px solid #a61d24;
}

.disableBtn{
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: transparent;
    border-color: #EBEEF5;
  }
  .el-button{
    height: 40px;
  }
  .el-button.is-plain:hover{
    background: var(--opacityBlueBg);
    border: 1px solid var(--lightBlueColor);
  }