.el-dropdown{
    cursor: pointer;
    color: #24DEFF;
}
.el-dropdown-menu{
    background:  var(--dropDownColor);
    border: 0px;
}
.el-dropdown-menu__item {
    color: var(--whiteOpacity7);
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background: linear-gradient(to right, rgba(2, 30, 54, .2), rgba(0, 144, 188, 0.8));
    color: var(--lightBlueColor);
    font-weight: 400;
}
