// 日期选择器范围
.el-range-editor.el-input__inner {
    background: var(--opacityBlueBg2) ;
}
.el-date-editor .el-range-input {
    background: transparent;
    color: var(--whiteColor);
}
.el-date-editor .el-range-separator {
    color: var(--whiteColor);
}
.el-picker-panel {
    background: linear-gradient(to bottom, rgba(0,162,218,0.6) ,black);// header背景色
    border: 1px solid gray;
}
.el-date-range-picker__header div {
    color: var(--whiteColor);
}
.el-picker-panel__icon-btn {
    color: rgba(255,255,255,0.8);
}
.el-date-table {
    color: var(--whiteColor);
}
.el-date-table th {
    color: var(--whiteColor);
}
.el-date-table td.in-range div {
    background-color: rgba(10,31,50,1);
}

// 日期选择器
.el-date-picker__header-label {
    color: var(--whiteColor);
}

// 时间选择器
.el-time-panel {
    background: linear-gradient(to bottom, rgba(0,162,218,0.6) ,black);// header背景色
    border: 1px solid gray;
}
.el-time-spinner__item {
    color: var(--whiteOpacity7);
}
.el-time-spinner__item.active:not(.disabled) {
    color: var(--whiteColor);
}
.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #409EFF;
}
.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -8px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.cancel {
    color: var(--whiteColor);
}
.el-time-panel__footer {
    border: 1px solid gray;
}

// el-form表单
.el-form-item__label {
    color: var(--whiteColor);
}
.el-switch.is-checked .el-switch__core {
    border-color: var(--lightBlueColor);
    background-color: rgba(0, 222, 240, 0.6);
}
.el-switch__core {
    background: rgba(220,223,230,0.5);
}
.el-textarea__inner {
    background-color: transparent;
    border: 1px solid var(--lightBlueColor);
    color: var(--lightBlueColor);
    border-radius: 0;
}