.el-input__inner {
  background: transparent;
  color: var(--light-blue-color);
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

// .loginInput .el-input__inner {
//   background: transparent;
//   color: #fff;
//   border: 1px solid var(--td-gray-color-9) !important;
//   border-radius: 4px;
// }
.el-form-item__content,
.left {
  .el-input__inner {
    height: 40px;
  }
}

.el-input.is-disabled .el-input__inner{
  background: rgba(51,69,86,0.8);
  border: 1px solid #c0c4cc;
  opacity: 0.5;
  background-image: var(--logo-bg) !important;
  background-size: 100% 100% !important;
}

.el-autocomplete-suggestion {
  background: var(--drop-down-color);
  border: none
}

.el-autocomplete-suggestion li{
  color: var(--white-opacity7)
}

.el-autocomplete-suggestion li:hover{
  color: var(--white-opacity7);
  background: linear-gradient(to right, rgba(2, 30, 54, 0.2), rgba(0, 144, 188, 0.8));
}
