.el-input__inner {
  background: transparent;
  color: var(--lightBlueColor);
}

// .loginInput .el-input__inner {
//   background: transparent;
//   color: #fff;
//   border: 1px solid var(--td-gray-color-9) !important;
//   border-radius: 4px;
// }
.el-form-item__content,
.left {
  .el-input__inner {
    height: 40px;
  }
}
.el-input.is-disabled .el-input__inner{
    background: rgba(51,69,86,0.8);
  border: 1px solid #C0C4CC;
  opacity: 0.5;
}
