.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: var(--lightBlueColor);
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  color: var(--lightBlueColor);
  font-weight: 500;
  background: transparent;
  border: 1px solid var(--lightBlueColor);
}
.el-pagination__total {
  color: var(--lightBlueColor);
  margin-left: 20px;
}
.app-container .pagination-container {
  position: absolute;
  right: 0;
  bottom: 0;
}
.el-pagination button:disabled {
  background: transparent;
  border: 1px solid var(--lightBlueColor);
  color: var(--lightBlueColor);
  font-weight: 500;
}
.el-pager li.active {
  background: var(--lightBlueColor);
  border: 1px solid var(--lightBlueColor);
  color: #fff;
  font-weight: 500;
}
