.el-select .el-input {
    background: var(--opacityBlueBg);
    border: 1px solid var(--lightBlueColor);
}
.el-input--suffix .el-input__inner {
    background: transparent;
    color: var(--lightBlueColor);
}
.el-select .el-input__inner {
    border: 0px;
}
.el-select-dropdown__wrap {
    // background: linear-gradient(to right, rgba(0, 63, 108, .8), rgba(1, 49, 86, 0.8));
    border: 0px;
    background: var(--dropDownColor);
}
.el-select-dropdown {
    border-radius: 0;
    border: 0px;
    background: transparent;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background: linear-gradient(to right, rgba(2, 30, 54, .2), rgba(0, 144, 188, 0.8));
}
.el-select-dropdown__item {
    color: var(--whiteOpacity7);
}
.el-select-dropdown__item.selected {
    color: var(--lightBlueColor);
    font-weight: 400;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: var(--dropDownColor);
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    background: linear-gradient(to right, rgba(2, 30, 54, .2), rgba(0, 144, 188, 0.8));
}
.el-tag.el-tag--info{
    background: transparent;
    border-color: var(--lightBlueColor);
}
.dropdown{
    .el-input{
        border: none;
    }
}
.el-select .el-tag__close.el-icon-close {
    background-color: rgba(255, 255, 255, 0.16);
}
.el-icon-close:before {
    color: rgba(255,255,255,0.6);
    // color: red;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: var(--lightBlueColor);
}