.t-tabs__nav--card.t-tabs__nav-item.t-is-active {
    color: var(--whiteColor);
    background: rgba(6,81,66,0.8);
}
.t-tabs__nav--card.t-tabs__nav-item.t-is-active svg {
    color: red;
}
.t-tabs__nav-item.t-size-m{
    height: 32px;
    line-height: 32px;
}
.t-tabs__nav--card {
    background: linear-gradient(to bottom, transparent, rgba(0, 118, 162, 0.34));
}
.t-tabs__btn.t-size-m {
    height: 32px;
    line-height: 32px;
}