.vue-treeselect__control{
    background: var(--opacityBlueBg);
    color: var(--lightBlueColor);
    border: 1px solid var(--lightBlueColor);
    border-radius: 0px;
}
.vue-treeselect__menu{
    border: 1px solid var(--lightBlueColor);
    background: var(--dropDownColor);
    color: #fff;
}
.vue-treeselect__single-value{
    color: var(--lightBlueColor);
}
.vue-treeselect__option--highlight {
    background: linear-gradient(to right, rgba(2, 30, 54, .2), rgba(0, 144, 188, 0.8));
}
.vue-treeselect--single .vue-treeselect__option--selected{
    background: linear-gradient(to right, rgba(2, 30, 54, .2), rgba(0, 144, 188, 0.8));
}