// 分割线
.list-group-striped > .list-group-item {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

.list-group {
	padding-left: 0px;
	list-style: none;
}

.list-group-item {
    border-bottom: 1px solid #e7eaec;
	border-top: 1px solid #e7eaec;
	margin-bottom: -1px;
	padding: 11px 0px;
	font-size: 13px;
}
.pull-right {
	float: right !important;
}
// 文本居中
.text-center {
    text-align: center
}
// 宽度100%
.g-w100 {
    width: 100%;
}
// 高度100%
.g-h100 {
    height: 100%;
}
// 横向flex
.g-row-flex {
    display: flex;
    flex-direction: row;
}
// 横向flex，水平居中
.g-row-flex-H {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
// 横向flex，垂直居中
.g-row-flex-V {
    display: flex;
    flex-direction: row;
    align-items: center;
}
// 横向flex，水平垂直居中
.g-row-flex-HV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
// 竖向flex
.g-column-flex {
    display: flex;
    flex-direction: column;
}
// 竖向flex，水平居中
.g-column-flex-H {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// 竖向flex，垂直居中
.g-column-flex-V {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// 竖向flex，水平垂直居中
.g-column-flex-HV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// header右侧图标
.img-logo {
    width: 22px;
    height: 22px;
}
