/* stylelint-disable */
#flow-map-wrapper {
  height: 100%;
  padding-bottom: 10px;
}

.audit-map-container {
  width: 100%;
  overflow-x: auto;
}

.node-cover {
  cursor: default;
}

.node-cover-tip {
  position: relative;
  padding: 8px;
  width: 226px;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  background: #000;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;

  .node-cover-tip__item + .node-cover-tip__item {
    margin-top: 10px;
    border-top: 1px dashed #fff;
    padding-top: 10px;
  }

  &::after {
    content: "\00a0";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -30px;
    display: block;
    border-style: solid;
    border-width: 15px;
    border-color: #000 transparent transparent;
  }

  &:not(.node-cover-tip--long)::after {
    bottom: -30px;
    border-color: #000 transparent transparent;
  }

  &.node-cover-tip--long::after {
    top: -30px;
    border-color: transparent transparent #000;
  }

  &:not(.node-cover-tip--right)::after {
    left: 98px;
  }

  &.node-cover-tip--right::after {
    left: 226px;
    border-color: transparent transparent transparent #000;
    top: 25px;
  }

  &.not-arrived {
    min-width: 226px;
    width: auto;

    &.node-cover-tip--right::after {
      left: 219px;
      border-color: transparent transparent transparent #000;
      top: 0;
    }
  }
}
/* stylelint-enable */