@import "theme";

.next-node {
  // 显示底部校验提示信息
  padding-bottom: 20px;
}

.audit-panel {
  &-next-node {
    display: flex;
    width: 100%;

    & > div:not(:last-child) {
      margin-right: @default-padding;
    }
  }
}
